<div class="container">
    <div class="row">
        <div class="col-lg-6 d-block">
            <h2>GRAPHS</h2>
            <div class="d-flex">
                <div class="mt-5">
                    <h4>Player Age Distribution</h4>
                    <canvas id="age"></canvas>
                </div>
                <div class="mt-5 mx-3">
                    <h4>Games per Month</h4>
                    <canvas id="matches"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>