<header>
    <div class="row">
        <div class="header-bg d-flex">
            <div class="navbar">
                <div routerLink="/home" class="ms-3 my-3 riot"></div>
                <div routerLink="/home" class="ms-5 lec"></div>
                    <a class="mx-5" routerLink="/home">HOME</a>
                    <a class="mx-5" routerLink="/map">MAP</a>
                    <a class="mx-5" routerLink="/calendar">CALENDAR</a>
                    <a class="mx-5" routerLink="/graphs">GRAPHS</a>
            </div>
        </div>
    </div>
</header>