<form [formGroup]="gameForm" (ngSubmit)="addGame()">
    <input formControlName="title" type="text" class="form-control" placeholder="Title">
    @if(gameForm.get('title')?.hasError('required') && gameForm.get('title')?.touched){
    <div class="error-text">Tilte is required </div>
    }

    <input formControlName="description" type="text" class="form-control mt-3" placeholder="Description">
    @if(gameForm.get('description')?.hasError('required') && gameForm.get('description')?.touched){
    <div class="error-text">Description is required</div>
    }

    <input formControlName="start" type="datetime-local" class="form-control mt-3" placeholder="Event start">
    @if(gameForm.get('team')?.hasError('required') && gameForm.get('team')?.touched){
    <div class="error-text">Start date is required</div>
    }

    <input formControlName="end" type="datetime-local" class="form-control mt-3" placeholder="Event end">
    @if(gameForm.get('end')?.hasError('required') && gameForm.get('end')?.touched){
    <div class="error-text">End date is required</div>
    }

    <input formControlName="league" type="text" class="form-control mt-3" placeholder="League">
    @if(gameForm.get('league')?.hasError('required') && gameForm.get('league')?.touched){
    <div class="error-text">League is required</div>
    }

    <div class="center mt-3">
        <button [disabled]="gameForm.invalid" type="submit" class="btn btn-success py-2 px-3 mx-2">Add</button>
        <button type="button" class="btn btn-danger py-2 px-3 mx-2" routerLink="/calendar">Back</button>
    </div>
</form>