@if(loading){<app-loading></app-loading>}
@else if (!loading){
<div class="container">
    <h2 class="my-4 title">PLAYER LIST</h2>

    <button type="button" class="btn-primary btn right mb-2" routerLink="/add">Add Player</button>
    <table class="table table-hover">
        <thead>
            <tr class="table-dark">
                <th scope="col">Username</th>
                <th scope="col">Name</th>
                <th scope="col">Team</th>
                <th scope="col">Position</th>
                <th scope="col">Age</th>
                <th scope="col">Nationality</th> <!-- city, country -->
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @for(player of playerList; track player){
            <tr class="table-active list">
                <td>{{player.username}}</td>
                <td>{{player.name}}</td>
                <td>{{player.team_short}}, {{player.team}}</td>
                <td>{{player.position}}</td>
                <td>{{player.age}}</td>
                @if(player.city)
                {
                <td>{{player.city}}, {{player.country}}</td>
                }
                @else
                {
                <td>{{player.country}}</td>
                }
                <td>
                    <button type="button" class="btn btn-warning" routerLink="/edit/{{player.id}}">✏</button>
                    <button (click)="deletePlayer(player.id!)" type="button" class="btn btn-danger ms-3">🗑</button>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
}