<div class="container">
    <div class="calendar-modal flex-center">
        <div class="calendar-modal-bg" (click)="closeSig()"></div>
        <div class="calendar-modal-content block-center text-center">
            <button type="button" class="close-btn btn btn-primary" (click)="closeSig()">X</button>
            <h2>{{ eventSig()?.title }}</h2>
            <p>{{ eventSig()?.description }}</p>
            <div>
                <p>
                    <b>Game start</b>
                    <br>
                    {{ eventSig()?.start | date: 'MMMM d HH:mm'}}
                </p>
            </div>
            <div>
                <p>
                    <b>Game end</b>
                    <br>
                    {{ eventSig()?.end | date: 'MMMM d HH:mm'}}
                </p>
            </div>
            <button type="button" routerLink="./add" class="btn btn-primary"> ✏ </button>
            <button type="button" routerLink="./add" class="ms-2 btn btn-primary"> 🗑 </button>
        </div>
    </div>
</div>