<div class="container">
    <div class="row">
        <div class="calendar">
            <button type="button" routerLink="./add" class="btn btn-primary">Add event</button>
            <full-calendar [options]="calendarOptions" [events]="calendarEvents"></full-calendar>
        </div>
    </div>
</div>

@if(showEventModal){
<div class="container">
    <div class="calendar-modal flex-center">
        <div class="calendar-modal-bg" (click)="closeModal()"></div>
        <div class="calendar-modal-content block-center text-center">
            <button type="button" class="close-btn btn btn-primary" (click)="closeModal()">X</button>
            <h2>{{ selectedEvent.title }}</h2>
            <p>{{ selectedEvent.description }}</p>
            <div>
                <p>
                    <b>Game start</b>
                    <br>
                    {{ selectedEvent.start | date: 'MMMM d HH:mm'}}
                </p>
            </div>
            <div>
                <p>
                    <b>Game end</b>
                    <br>
                    {{ selectedEvent.end | date: 'MMMM d HH:mm'}}
                </p>
            </div>
            <button type="button" routerLink="./add" class="btn btn-primary"> ✏ </button>
            <button type="button" routerLink="./add" class="ms-2 btn btn-primary"> 🗑 </button>
        </div>
    </div>
</div>
}