<div class="container">
    <div class="row flex-center">
        <div class="calendar-container">
            <button type="button" (click)="openAddModal()" class="button-add mb-3">+</button>
            <div class="full-calendar">
                <full-calendar #calendarRef [options]="calendarOptions" [events]="calendarEvents"></full-calendar>
            </div>
        </div>
    </div>
</div>

@if (showEventModal()) {
<app-modal [eventSig]="selectedEvent" [onClose]="closeModal" [setEditMode]="editMode.set" [editMode]="editMode"/>
}